* {
  font-size: .9rem; }

a {
  text-decoration: none; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px; }

.text-center {
  text-align: center;
  max-width: 800px; }

.separador-h {
  display: block;
  height: 1px;
  border: 0;
  margin: 0;
  padding: 0;
  border-top: 1px solid #e6e6e6; }

.button {
  color: #5a5a5a;
  padding: 9px 19px;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid #8b8b8b; }
  .button:hover {
    background-color: #8b8b8b;
    color: white; }

.button-verde {
  color: white;
  background-color: #2fab48;
  border: 0; }
  .button-verde:hover {
    background-color: white;
    color: #2fab48; }

.button-branco {
  color: #8b8b8b;
  background-color: white;
  padding: 9px 19px; }

h1, h2, h3 {
  color: #8b8b8b;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif; }

h2 {
  font-size: .6em;
  font-weight: 500; }

h3 {
  font-size: 1em;
  font-weight: 300; }

.logo img {
  max-width: 20%;
  min-width: 180px; }

.content-banner h1, .content-banner h2, .content-banner h3 {
  font-weight: 700;
  font-size: .9rem; }

.content-banner p {
  color: #5a5a5a;
  font-size: .9rem; }

header {
  width: 100%; }
