body {
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }

.container {
  max-width: 90%;
  margin: 0 auto; }

.text-center {
  text-align: center; }

.button {
  color: #5a5a5a;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif; }

.button-verde {
  color: white;
  background-color: #2fab48; }

.button-branco {
  color: #8b8b8b;
  background-color: white; }

h1, h2, h3 {
  color: #5a5a5a;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif; }

h2 {
  font-size: 18px;
  font-weight: 500; }

h3 {
  font-size: 16px;
  font-weight: 300; }
