@import 'variables';

* {
    font-size: .9rem;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.text-center {
    text-align: center;
    max-width: 800px;
}

.separador-h {
    display: block;
    height: 1px;
    border: 0;
    margin: 0;
    padding: 0;
    border-top: 1px solid $cinza-claro;
}
