body {
    font-family: 'Roboto', sans-serif;
    background: $cinza;
}

a {
    text-decoration: none;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

