.button {
    color: $cinza-escuro;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
}

.button-verde {
    color: $branco;
    background-color: $verde;
}

.button-branco {
    color: $cinza;
    background-color: $branco;
}